################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserFormSubmission/.vs/UserFormSubmission/FileContentIndex/368ae523-76f9-418f-b16f-1f0e040908cf.vsidx
